<h2>LOG IN</h2>
<form action="/login" method="POST">

  <label for="username">
    Username:
    <input type="text" name="username" placeholder="username">
    </label>

  <label for="password">
    Password:
    <input type="password" name="password" placeholder="password">
    </label>

  <button type="submit" value="Log In">Log in!</button>

</form>