<h2>SIGN UP</h2>
<form action="/signup" method="POST">

  <label for="username">
    Username:
    <input type="text" name="username" placeholder="username">
    </label>

  <label for="password">
    Password:
    <input type="password" name="password" placeholder="password">
    </label>

  <label for="role">
    Role:
    <input type="text" name="role" placeholder="role">
  </label>

  <button type="submit">Sign Up!</button>

</form>